<form action="/articles/<%= @article.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="PATCH">

  <h1>Update title:</h1>
  <input type="text" name="title" value="<%= @article.title %>">
  <h1>Update content:</h1>
  <input type="text" name="content" value="<%= @article.content %>">

  <div>
      <input type="submit" value="Submit">
  </div>
</form>
